.questions-box{
    background-color:#ddc4eb;
    margin: 0 200px;
    padding: 50px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    
}
h1{
    text-align: center;
}
.answer-box:nth-child(even){
    background-color:#f3d2f3

}
.question{
    text-align: center;
}

.buttons{
    margin: 50px;
}
#checkResult{
    background-color: crimson;
    border: crimson;
    border-radius: 30px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

#checkResult span{
    padding: 10px;
}

#showAnswers{
    background-color: rgb(241, 61, 97);
    border:rgb(241, 61, 97); 
    border-radius: 30px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

.modal{
    display: none;
    position: absolute;
    top: 0;
    text-align: center;
    left: 170px;
    padding: 20px;
    width: 500px;
    height: 300px;
    font-size: 24px;
    background-color: rgb(241, 214, 255);
    border-radius: 5px;
    border: 2px solid rgb(167, 43, 140);;
    
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#close{
    background-color:rgb(167, 43, 140);
    border: rgb(167, 43, 140);
    height:50px;
    width: 100px;
    border-radius: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}







